*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    font-family: 'Arvo', serif;
    padding-top: 0;
}

h1 {
    font-weight: bold;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#Content {
    padding: 20px;
    height: 100%;
    width: 960px;
    margin: 0 auto;
}

#Navbar {
    background-color: #f5f5f5;
    width: 100%;
    padding: 0 0 5px;
    overflow: auto;
    text-align: center;
}

#NavbarOptions {
    margin-top: 20px;
    list-style-type: none;
    display: inline-block;
}

#NavbarOptions > li {
    float: left;
    padding: 0 40px 0 0;
}

#Header {
    height: 100px;
    padding: 10px;
    z-index: 1100;
}

#ImageCropper {
    width: 80px;
    height: 80px;
    overflow: hidden;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    z-index: 1000;
}

#ProfilePic {
    display: inline;
    margin: 0 -40px;
    height: 100%;
    width: auto;
}

#Title {
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 10px;
    top: -20px;
}

#Title > a {
    text-decoration: none;
}

#CopyRight {
    position: fixed;
    bottom: 20px;
    margin: 0 auto;
}

.animate-top {
    opacity: 1;
}

.animate-scroll {
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    -ms-transition: all .1s linear;    
    transition: all .1s linear;
    transform: scale(.6,.6);

    position: fixed;
    top: -10px;
    left: 25%;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    height: 60px;
}

.BlogTitle {
    text-align: center;
}