*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
    font-family: 'Arvo', serif;
}

h1 {
    font-weight: bold;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#Content {
    padding: 20px;
    height: 100%;
    position: absolute;
    left: 400px;
    top: 0;
    width: 960px;
}

#SidePanel {
    background-color: lightgray;
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    overflow: auto;
    text-align: center;
}

#ProfilePic {
    background-size: contain;
    border-radius: 100%;
    width: 200px;
    height: auto;
}

#Title {
    text-decoration: none;
}

#Title > a {
    text-decoration: none;
}

#CopyRight {
    position: absolute;
    bottom: 20px;
}