@{
    ViewBag.Title = "Home Page";
}

<div ng-controller="PastCtrl">
    <h1>Archive</h1>
    <fieldset ng-repeat="year in archive track by $index">
        <legend>{{year.year}}</legend>
        <ul>
            <li ng-repeat="blog in year.blogs">{{blog.title}}</li>
        </ul>
    </fieldset>
</div>

