@{
    ViewBag.Title = "EID | Archive";
}

<div ng-controller="PastCtrl" ng-cloak>
    <h1 class="BlogTitle">Archive</h1>
    <fieldset ng-repeat="year in archive track by $index">
        <legend>{{year.year}}</legend>
        <ul>
            <li ng-repeat="blog in year.blogs">
                <div ng-click="goToBlog(blog.title)">{{blog.title}}</div>
            </li>
        </ul>
    </fieldset>
</div>

