@{
    ViewBag.Title = "EID | Archive";
}

<div ng-controller="PastCtrl" ng-cloak>
    <h1 class="BlogTitle">Archive</h1>
    <div style="margin-bottom: 20px">
        <form class="search-wrapper" ng-submit="search()">
            <span class="glyphicon glyphicon-search search-icon" aria-hidden="true"></span>
            <input type="text" ng-model="searchText" class="form-control search-box" placeholder="Search blogs">
        </form>
    </div>
    <fieldset ng-repeat="year in archive track by $index">
        <legend>{{year.year}}</legend>
        <ul>
            <li ng-repeat="blog in year.blogs">
                <div ng-click="goToBlog(blog.title)">{{blog.title}}</div>
            </li>
        </ul>
    </fieldset>
</div>

